<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TravelPolicySuite">
    <test name="TravelPolicyTests">
        <packages>
            <!-- Replace 'tests' with your package containing test classes -->
            <package name="tests"/>
        </packages>
    </test>
</suite>